__pycache__/
venv_manual_control/
venv_auto_soccer/
venv_auto_soccer/
venv_opponent_detector/
opponent-detector/runs/
opponent-detector/data_raw/
opponent-detector/label_studio/
opponent-detector/data.yaml
/opponent-detector/yolo*.pt
.idea/