__pycache__/
*.pyc
models/weights/*.pt
models/weights/*.onnx
models/**/*.pt
models/**/*.onnx
runs/*
datasets/exports/*
datasets/raw/*
datasets/raw_images/*
datasets/augmented_images/*
datasets/labels/*
datasets/splits/*
!datasets/exports/
!datasets/exports/README.md
!datasets/raw/.gitkeep
!datasets/labels/.gitkeep
!datasets/splits/.gitkeep
