<?xml version="1.0"?>
<model>
  <name>orange_ball</name>
  <version>1.0</version>
  <sdf version="1.8">model.sdf</sdf>
  <author>
    <name>josedanielchg</name>
    <email>j.daniel.chg@gmail.com</email>
  </author>
  <description>Dynamic orange soccer ball for FootBot simulation behaviors.</description>
</model>
